$color-primary: #FFFFFF; // Fondo Principal (Blanco)
$color-text: #000000; // Texto Principal (Negro)
$color-accent-primary: #561585; // Acento Primario (Morado Oscuro)
$color-accent-secondary: #783FA1; // Acento Secundario (Morado Intenso)
$color-bg-card: #F7F7F7; // Fondo de Tarjetas/Secciones (Gris Claro)
$color-bg-alt: #EFEAF5; // Fondo Alternativo (Lavanda Claro)
$color-dark-bg: #2B2B31FF; // Fondo Oscuro Alternativo (Negro Grisáceo)
