<section id="services" class="section">
    <div class="container services__grid_new">
      <div class="services__info">
        <h2>Qué hacemos</h2>
        <p>
          Ayudamos a pequeñas y grandes empresas a alcanzar el máximo potencial de la tecnología desarrollando sitios web, aplicaciones y software a medida que revolucionen la industria.
        </p>
  
        <div class="service-category-buttons">
          <button *ngFor="let category of serviceCategories"
                  class="btn btn--outline"
                  [class.active]="category.id === selectedServiceCategoryId"
                  (click)="selectServiceCategory(category.id)">
            {{ category.categoryName }}
          </button>
        </div>
      </div>
  
      <div class="service-card-grid" *ngIf="displayedServices.length > 0" [@fadeCards]="animationKey">
        <article *ngFor="let serviceItem of displayedServices" class="card card--service-item">
          <!-- Envuelve el contenido de la tarjeta en un enlace -->
          <a href="#" class="card-link">
            <div class="card__image-container" [style.backgroundImage]="'url(' + serviceItem.backgroundImageUrl + ')'">
              <div class="card__overlay">
                <span class="card__overlay-text">Me interesa</span>
              </div>
            </div>
            <h3 class="card__title">{{ serviceItem.title }}</h3>
          </a>
        </article>
      </div>      
    </div>
  </section>
  