<section class="dynamic-industry-section">
    <div class="dynamic-industry-container">
      <div class="dynamic-industry-text">
        <h2>Mousecat</h2>
        <p class="dynamic-industry-subtitle">
          expertos en <span class="dynamic-industry-name" [class.fade-out]="isIndustryAnimatingOut">{{ currentAnimatedIndustry }}</span>
        </p>
        <p>
          Nos especializamos en transformar negocios a través de soluciones tecnológicas innovadoras y a medida para diversos sectores.
        </p>
      </div>
      <div class="dynamic-industry-image">
        <img src="/gatoverso.png" alt="Gatoverso Mousecat Lab">
      </div>
    </div>
  </section>