<section class="hero-alt">
    <div class="hero-alt__container">
      <div class="hero-alt__content">
        <h1 class="hero-alt__title">Tu <span class="highlight">Partner Tecnológico</span></h1>
        <h2 class="hero-alt__subtitle">En Mousecat, transformamos tus ideas en soluciones digitales innovadoras.</h2>
        <p class="hero-alt__description">
            Optimizamos tus recursos, reducimos costos y aceleramos proyectos clave. Nos convertimos en tu aliado
            estratégico, colaborando estrechamente con tu equipo para asegurar resultados eficientes y de alto impacto.
        </p>
        <div class="hero-alt__buttons">
          <button routerLink="/quote-project" class="btn btn--primary">Cotizar Proyecto</button>
        </div>
      </div>
  
      <div class="hero-alt__image">
        <img src="/web.webp" alt="Equipo de desarrollo tecnológico colaborando" />
      </div>
    </div>
  </section>
  