<footer class="footer">
  <div class="footer-content container">
    <div class="footer-col footer-brand">
      <a href="/">
        <img src="/mousecat-logow.png" alt="MouseCat Logo" class="footer-logo" />
      </a>
      <p class="footer-description">
        MouseCat Lab es una empresa tecnológica que se especializa en el desarrollo de sitios web, aplicaciones y software a medida. Nos enfocamos en crear experiencias centradas en el usuario, optimizando la interacción entre las personas y las marcas.
      </p>
      <div class="footer-address">
        <strong>MouseCat Lab</strong><br />
        Santiago, Chile<br />
      </div>
    </div>
    <div class="footer-col footer-links">
      <span class="footer-section-title">Servicios</span>
      <a routerLink="/services/web-design" class="footer-link">Web Design</a>
      <a routerLink="/services/ecommerce" class="footer-link">E-commerce</a>
      <a routerLink="/services/integration-systems" class="footer-link">Integration Systems</a>
      <a routerLink="/services/custom-software" class="footer-link">Custom Software</a>
      <a routerLink="/services/mobile-apps" class="footer-link">Mobile Apps</a>
      <a routerLink="/services/cloud-consulting" class="footer-link">Cloud Consulting</a>
      <a routerLink="/services/infrastructure-deployment" class="footer-link">Infrastructure Deployment</a>
      <a routerLink="/services/cloud-solutions-design" class="footer-link">Cloud Solutions Design</a>
      <a routerLink="/services/cloud-maintenance-support" class="footer-link">Cloud Maintenance & Support</a>
      <a routerLink="/services/it-consulting" class="footer-link">IT Consulting</a>
      <a routerLink="/services/software-support-maintenance" class="footer-link">Software Support & Maintenance</a>
    </div>
    <div class="footer-col footer-company">
      <span class="footer-section-title">Empresa</span>
      <a routerLink="/clientes" class="footer-link">Nuestros clientes</a>
      <a routerLink="/empresa" class="footer-link">Nosotros</a>
      <span class="footer-section-title">Industrias & Tecnologías</span>
      <a routerLink="/industrias" class="footer-link">Industrias</a>
      <a routerLink="/tecnologias" class="footer-link">Tecnologías</a>
    </div>
    <div class="footer-col footer-contact">
      <span class="footer-section-title">Conversemos</span>
      <a routerLink="/contacto" class="footer-link">Formulario de Contacto</a>
      <a [href]="'mailto:contacto@mousecatlab.com'" class="footer-link">{{ email }}</a>
    </div>
  </div>
  <div class="footer-bottom">
    <span class="footer-copy"> 2025 MouseCat Lab. Todos los derechos reservados.</span>
  </div>
</footer>
